<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ImageLab</title>
  <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet"/>
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
    body{
      text-align: center;
    }
    .navbar{
      background-color: #7ABA58;
    }
    a{
      color: white;
    }
    button{
      margin: 10px;
    }
    img{
      width: 350px;
      text-align: center;
      margin-top: 210px;
    }

    </style>
</head>
<body>

      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md fixed-top">
          <a class="navbar-brand" href="#">Welcome to ImageLab</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <a href="#">  <button class="btn btn-light" type="submit">HOME</button></a>
            <a href="#">  <button class="btn btn-light" type="submit">LOGIN</button></a>
            <a href="#">  <button class="btn btn-light">REGISTRATION</button></a>
            </form>
          </div>
        </nav>
      </header>
<div class="logo">


<img src="../static/images/new_logo.png" alt=""></div>
<br><br>
      <button class="btn btn-outline-success">USER MANAGER</button>
      <button class="btn btn-outline-success">PROJECT MANAGER</button>


</body>
</html>
